
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
    background-image: url(/Assets/images/table.jpg);
    background-size: cover;
}
.container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        
        
    
    
    

}

h1{
    color: gold;
}

#message{
    font-weight: bold;
}

#start-button{
        background-color:green;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        background-image: linear-gradient(bottom, rgb(100, 170, 30) 0%, rgb(129, 212, 51) 100%);
        box-shadow: inset 0px 1px 0px #b2f17f, 0px 6px 0px #3d6f0d;
        border-radius: 5px;
        position: relative;
        top: 100px;
    }

    #start-button:active{
            top: 7px;
            background-image: linear-gradient(bottom, rgb(100, 170, 30) 100%, rgb(129, 212, 51) 0%);
            box-shadow: inset 0px 1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
            color: #156785;
            text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
            background: rgb(44, 160, 202);
            top: 100px;
    }

        #new-card{
                
                background-color:gold;
                padding: 10px;
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                text-decoration: none;
                color: black;
                background-image: linear-gradient(bottom, rgb(100, 170, 30) 0%, rgb(129, 212, 51) 100%);
                box-shadow: inset 0px 1px 0px #b2f17f, 0px 6px 0px #3d6f0d;
                border-radius: 5px;
                position: relative;
                top: 100px;
                left: 615px;
        }

        #new-card:active{
            top: 7px;
            background-image: linear-gradient(bottom, rgb(100, 170, 30) 100%, rgb(129, 212, 51) 0%);
            box-shadow: inset 0px 1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
            color: #156785;
            text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
            background: rgb(44, 160, 202);
            top: 100px;

        }

    #card-container{
        display: flex;
    }

    #card1{
        height: 125px;
        width: 75px;
        margin-right: 2px;

    }
         #card2 {
             height: 125px;
             width: 75px;
             margin-left: 2px;
          
    
         }
                  #card3 {
                      height: 125px;
                      width: 75px;
                      margin-left: 2px;
        
        
                  }
         

   



@media(max-width:800px){
    #message{
        padding-left: 20px;
        padding-right: 20px;
    }

}